<!DOCTYPE html>

<html>
    <head>
        <title>Play integration with ReactJS</title>
    </head>
    <body>
        <h1>This sample application is a demo of the integration of <a href="http://facebook.github.io/react/index.html">ReactJS</a> with <a href="http://www.playframework.com/">Play!</a></h1>

        <p>The application simulates a slow backend so that the AJAX requests take time to respond</p>

        <p><a href="@routes.Application.clientSide">Render the application only on the client side (JavaScript)</a></p>
        <p><a href="@routes.Application.serverSide">The application is pre-rendered on the server side + dynamically changed on the client side (JavaScript)</a></p>
        <p><a href="@routes.Application.serverSideStream">The application is pre-rendered on the server side and streamed to load JS immediately + dynamically changed on the client side (JavaScript)</a></p>
    </body>
</html>
